blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
docutils==0.22
filetype==1.2.0
Flask==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
MarkupSafe==3.0.2
Pygments==2.19.2
pypiwin32==223
pywin32==311
requests==2.32.4
urllib3==2.5.0
Werkzeug==3.1.3
